@{
    ViewData["Title"] = "Divisão Page";
}

<h1>Operação Matemática Dividir</h1>
<br><br>
<p>Utilize o formulário abaixo para dividir dois números</p>
<br><br>
<form id="form" action="DivisaoResultado" method="post">
    <label for="num1">Número 1</label>
    <input type="number" name="num1" id="num1">
    <label for="num2">Número 2</label>
    <input type="number" name="num2" id="num2">
    <button type="submit">Dividir</button>
</form>
