@{
    ViewData["Title"] = "Multiplicação Page";
}

<h1>Operação Matemática Multiplicar</h1>
<br><br>
<p>Utilize o formulário abaixo para multiplicar dois números</p>
<br><br>
<form id="form" action="MultiplicacaoResultado" method="post">
    <label for="num1">Número 1</label>
    <input type="number" name="num1" id="num1">
    <label for="num2">Número 2</label>
    <input type="number" name="num2" id="num2">
    <button type="submit">Multiplicar</button>
</form>
