@{
    ViewData["Title"] = "Primeiro Form";
}

<form id="form" action="TesteFormData" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <button type="submit">Enviar</button>
</form>